<!DOCTYPE html>
<html lang="pt-br">
<head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>E-mail Confirmado</title>
  	<link rel="stylesheet" href="../styles/confirmado.css">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  	<div class="container">
    	<div class="message-box">
      		<h1>E-mail Confirmado!</h1>
      		<p>Seu e-mail foi confirmado com sucesso. Agora você pode fazer login na sua conta.</p>
      		<button id="loginButton">
				<a href="/frontend/views/login.html">Fazer Login</a>
			</button>
    	</div>
  	</div>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/frontend/scripts/logout.js"></script>
  	<script src="/frontend/scripts/confirmado.js"></script>
</body>
</html>