<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criação de Equipes</title>
  <link rel="stylesheet" href="../styles/CriarEquipe.css">
</head>
<body>
  <div class="container">

    <h1>Criação de Equipe</h1>
    <br><br>
    <form id="teamForm">

      <div>
        <label for="teamName">Nome da Equipe:</label>
        <input type="text" id="teamName" required>
      </div>

      <div>
        <label for="teamDescription">Descrição:</label>
        <textarea id="teamDescription" required></textarea>
      </div>

      <div>
        <label for="teamImage">Imagem de Perfil:</label>
        <input type="file" id="teamImage" accept="image/*">
      </div>

      
      <div class="justify-center wrap">

        <button class="btn custom-btn" type="submit"><span>Criar</span></button>

      </div>

    </form>

  </div>

  <script src="script.js"></script>
</body>
</html>
