<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/login.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
  <title>Login</title>
</head>
<body>
  
  <div class="container">
    <div class="card">

      <h1> FAÇA SEU LOGIN </h1>

      <!-- Campo Usuário -->
      <div class="label-float">

        <label id="userLabel" for="user">Usuário</label>
        <input type="text" id="user" placeholder="Seu usuário cadastrado" required>

      </div>

      <!-- Campo E-mail -->
      <div class="label-float">

        <label id="emailLabel" for="email">E-mail</label>
        <input type="emailLabel" id="email" placeholder="Seu email cadastrado" required>

      </div>

      <!-- Campo Senha -->
      <div class="label-float">

        <label id="senhaLabel" for="senha">Senha</label>
        <input type="password" id="senha" placeholder="Senha do usuário cadastrado" required>
        <i class="fa fa-eye fa-eye-slash" aria-hidden="true" id="verSenha"></i>

      </div>
      
      <div class="justify-center wrap">
        <button class="btn custom-btn" onclick="entrar()"><span>Logar</span></button>
      </div>

      <p>Não tem Cadastro?
        <a href=""> Cadastre-se</a>
      </p>

    </div>
  </div>

<script src=""></script>
</body>
</html>