<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Principal</title>
  <link rel="stylesheet" href="../styles/principal.css">

</head>
<body>
  
  <div class="container">
    <div class="card">

      <h1>Minhas Equipes</h1>
      <h2 class="justify-center">Equipes</h2>
      <ul id="teams"></ul>
      <div class="justify-evenly">

        <button id="add-team-btn">Adicionar Nova Equipe</button>
        <button id="logout-btn" onclick="setupLogoutButton()">Logout</button>
      </div>
    
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/frontend/scripts/logout.js"></script>
  <script src="/frontend/scripts/principal.js"></script>

</body>
</html>
