  * {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  }

  html {
    font-size: 100%;
  }
  
  body {
    background-image: url("../assets/image/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    padding: 1.25rem;
    width: 80%;
    max-width: 25rem; /* 25rem = 400px */
  }
  
  a{
    color: #aaa8be;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
    margin-left: 0.5rem;
  }
  
  a:hover{
    color: #272262;
  }

  .message-box h1 {
    color: #080052;
    margin-bottom: 0.625rem; /* 0.625rem = 10px */
    font-size: 1.5rem; /* 1.5rem = 24px */
  }
  
  .message-box p {
    color: #555555;
    margin-bottom: 1.25rem; /* 1.25rem = 20px */
    font-size: 1rem; /* 1rem = 16px */
  }
  
  button {
    background-color: #080052;
    color: #ffffff;
    border: none;
    padding: 0.625rem 1.25rem; /* 0.625rem = 10px, 1.25rem = 20px */
    border-radius: 0.3125rem; /* 0.3125rem = 5px */
    font-size: 1rem; /* 1rem = 16px */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #40378a;
  }
      