* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

html{
  font-size: 62.5%;
}

body {
  background-image: url("../assets/image/background2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

h1{
  color: #082a44;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

h2{
  color: black;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

a{
  color: #1807b6;
  font-size: 1.6rem;
  font-weight: 60rem;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover{
  color: #71a6f6;
}

.container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
}

.card{
  background-color: white;
  padding: 3rem;
  border-radius: 5%;
  box-shadow: 0.4rem 0.4rem 0.1rem 0rem #00000060;
  width: 40rem;
}

.justify-evenly{
  display: flex;
  justify-content: space-evenly;
}

#team-list {
  margin-bottom: 2rem; 
}

#teams {
  list-style: none;
  padding: 0;
}

#teams li {
  background-color: #66C4DC;
  color: white;
  margin: 0.5rem 0; 
  padding: 1rem; 
  border-radius: 0.8rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-team-btn {
  background-color: #0C1A26;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.8rem; 
  cursor: pointer;
  font-size: 1.6rem; 
}

#logout-btn {
  background-color: #970000;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.8rem; 
  cursor: pointer;
  font-size: 1.6rem; 
}

#logout-btn:hover {
  background-color: #f38787;
}

#add-team-btn:hover {
  background-color: #66C4DC;
}

/* img{
  height: 10px;
} */
